[Unit]
Description=geodns service
Wants=network-online.target
After=network-online.target

[Service]
User=cdn
Group=cdn
Type=simple
LogLevelMax=alert
WorkingDirectory=/home/cdn/geodns
ExecStart=/home/cdn/geodns/geodns

[Install]
WantedBy=multi-user.target
