[Unit]
Description=rqlite service
Wants=network-online.target
After=network-online.target

[Service]
User=cdn
Group=cdn
Type=simple
WorkingDirectory=/home/cdn/rqlite
ExecStart=/home/cdn/rqlite/rqlited -http-addr 10.0.0.1:4003 -raft-addr 10.0.0.1:4004 -join http://10.0.0.1:4003 datadir

[Install]
WantedBy=multi-user.target
